[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/nigels-com/glew
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
